body {
    font-family: 'Times New Roman', Times, serif;
    max-width: 650px;
    margin: 0 auto;
    background-color: rgb(227, 227, 227);
    border: 1.5px solid rgb(199, 199, 199);
    padding: 1rem;
    margin-top: 1rem;
    padding-bottom: 5rem;
}
h1, p {
    text-align: center;
}
p {
    color: rgb(0, 87, 184);
    font-size: 18px;
}
hr {
    height: 2.5px;
    width: 475px;
    background-color: rgb(0, 87, 184);
    border: none;

}
h2 {
    text-align: center;
}
ul.list {
    margin: 0 auto;
    font-size: 14.25px;
    width: 310px;
    height: auto;
    list-style-type: none;
    padding-left: 0;
    
}
h2 {
    margin: 0 auto;
    width: 325px;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
img {
    display: block;
    margin: 0 auto;
    width: 325px;
    height: auto;
    padding-top: 1rem;
}