body {
    background-color: rgb(221, 221, 221);
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
}

p {
    color: rgb(24, 109, 164);
    font-size: 25px;
}
hr {
    background-color: rgb(24, 109, 164);
    width: 55%;
    height: 3px;
    border: none;
    margin: 20px auto;
}
#content {
    text-align: center;
}
ul.list {
  list-style: none;
  padding-left: 0;
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}


