@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #02010A;
    --secondary-color: #04052E;
    --accent1-color: #22007C;
    --accent2-color: white;

    --heading-font: "Dosis";
    --paragraph-font: "Saira Extra Condensed", Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.phone-nav {
    display: none;;
}

#outerspace {
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
}

nav {
    width: 100%;
    height: 25px;
    padding: 1rem;
    margin-bottom: 3rem;
    font-size: 1.3rem;
    text-align: center;
    font-family: var(--heading-font);
    z-index: 100;
}

.logo a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.logo a:hover{
    display: none;

}

.desktop-nav {
    display: flex;
    padding: 20px;
}
.btn-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 1.5rem;

}

#resume-btn, #contact-btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    font-family: var(--heading-font);
}
#resume-btn:hover, #contact-btn:hover {
    background-color: var(--accent1-color);
    color: #fff;
}


#welcome-bar {
    color: white;
    transition: opacity 0.6s ease;

    margin: 1rem auto;
  
    position: relative;
    width: 550px;
    background: rgba(255, 255, 255, 0.15);
    padding: 10px;
    backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 2rem;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 
                inset 0 4px 20px rgba(255, 255, 255, 0.3);
}
#welcome-bar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    backdrop-filter: blur(1px);
    box-shadow: inset -10px -8px 0px -11px rgba(255, 255, 255, 1),
                inset 0px -9px 0px -8px rgba(255, 255, 255, 1);
    opacity: 0.6;
    z-index: -1;
    filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%)
  
}

.hidden {
    display: none;
}
#main-nav {
    justify-content: center;
    gap: 5rem;
    margin: 1rem auto;
  
    position: relative;
    width: 550px;
    background: rgba(255, 255, 255, 0.15);
    padding: 10px;
    backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 2rem;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 
                inset 0 4px 20px rgba(255, 255, 255, 0.3);
}
#main-nav::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    backdrop-filter: blur(1px);
    box-shadow: inset -10px -8px 0px -11px rgba(255, 255, 255, 1),
                inset 0px -9px 0px -8px rgba(255, 255, 255, 1);
    opacity: 0.6;
    z-index: -1;
    filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%);

}
#main-nav a{
    text-decoration: none;
    color: white;
    margin: 0 2.5rem;
}

main {
    border: 2px black solid;
    border-radius: 15px;
    width: 800px;
    margin: 0 auto;
    padding: 3rem;
    background-color: #fff;
    font-family: var(--paragraph-font);
}

#portfolio-img img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 3rem;
}

.info-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5rem;
    gap: 10rem;
    font-family: var(--heading-font);
    
}
.info-header-text{
    text-align: center;
}
.about-me {
    height: 350px; 
    font-size: 1.25rem;      
    overflow-y: auto;
    padding-right: 1rem;
}
.modal {
  position: fixed;
  top: 20%;
  left: 30%;
  width: 600px;
  height: 450px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
  z-index: 1000;
  font-family: var(--heading-font);
  display: flex;
  flex-direction: column;
}

.modal.hidden {
  display: none;
}

.modal-header {
  cursor: move;               
  padding: 1rem;
  background: #f0f0f0;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.modal-header button {
  border: none;
  background: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.modal-body {
    font-family: var(--paragraph-font);
    padding: 1rem;
    flex: 1;
}

.modal-body iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.main-p, 
.main-h1 {
    text-align: center;
}
.main-p {
    margin-top: 10px;
}
.main-h1 {
    margin-bottom: 15px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form input,
.contact-form textarea {
  padding: 1rem;
  font-family: var(--paragraph-font);
  width: 500px;
}

.contact-form button {
  align-self: flex-end;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  font-family: var(--heading-font);
  cursor: pointer;
}
#message-box {
    height: 100px;
}

footer {
    background-color: var(--primary-color);
    font-family: var(--heading-font);
    color: white;
    margin-top: 2rem;
    padding: 2rem;
}
footer a{
    text-decoration: none;
    color: white;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    
}
#footer-text {
    display: flex;
    flex-direction: column;
}
#footer-text p {
    padding: 1rem;
}
.footer-img{
    display: flex;
    gap: 1.5rem;
}
.footer-img img{
    width: 40px;
    height: 40px;;
}

/* projects page styles */
.project img,
.project h1,
.project p {
  transition: opacity 0.3s ease;
}

.project-img-container {
    grid-column: 2;
    grid-row: 1/2;
    width: 50rem;
    height: 25rem;
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem;
  gap: 3rem;
  padding: 2rem;
  color: black;
  background-color: #fff;
  border: 2px black solid;
  border-radius: 15px;
}

.controls {
    display: flex;
    justify-content: center;
}
.controls button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(60, 20, 20, 0.267);
    border: none;
    color: black;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}
.controls button:hover {
    background-color: #3d3d3d;
    color: #000;
}
.content h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    font-family: var(--heading-font);
}
.content p {
    display: flex;
    justify-content: center;
    font-family: var(--paragraph-font);
    font-size: 20px;
}

#phone-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: rgba(255,255,255,0.1);
  padding: 0.5rem;
  border-radius: 10px;
}

#phone-menu.hidden {
  display: none;
}

@media screen and (max-width: 600px) { /* Yeah i forogt to do the responsiveness until last minute, it is not perfect in anyway */


.desktop-nav {
    display: none;
}


.phone-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}


  body {
    font-size: 16px;
  }

  main {
    width: 95%;
    padding: 1.5rem;
    border: none;
    border-radius: 0;
  }

  .info-header {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  #portfolio-img img {
    width: 120px;
    height: 120px;
    margin: 0 auto;
  }

  .info-header-text {
    text-align: center;
  }

  .btn-container {
    flex-direction: column;
    gap: 1rem;
  }

  .about-me {
    height: auto;
    font-size: 1rem;
    padding-right: 0;
  }



  .project {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 100%;
    padding: 1.5rem;
  }

  .project-img-container {
    width: 100%;
    height: auto;
  }

  .project img {
    width: 100%;
    height: auto;
  }

  .controls button {
    width: 35px;
    height: 35px;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
  }

  footer .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  footer .footer-img img {
    width: 30px;
    height: 30px;
  }
 canvas#outerspace { 
    display: none; 
}
}


