:root {
    --primary-color: #02010A;
    --secondary-color: #04052E;
    --accent1-color: #22007C;
    --accent2-color: white;
}

* {
    margin: 0;
    padding: 0;
}

#outerspace {
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
}

nav {
    width: 100%;
    height: 25px;
    padding: 1rem;
    margin-bottom: 3rem;
    font-size: 1.3rem;
    text-align: center;
    z-index: 100;
}

.logo a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.logo a:hover{
    display: none;

}

.desktop-nav {
    display: flex;
    padding: 20px;
}

#welcome-bar {
    color: white;
    transition: opacity 0.6s ease;

    margin: 1rem auto;
  
    position: relative;
    width: 550px;
    background: rgba(255, 255, 255, 0.15);
    padding: 10px;
    backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 2rem;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 
                inset 0 4px 20px rgba(255, 255, 255, 0.3);
}
#welcome-bar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    backdrop-filter: blur(1px);
    box-shadow: inset -10px -8px 0px -11px rgba(255, 255, 255, 1),
                inset 0px -9px 0px -8px rgba(255, 255, 255, 1);
    opacity: 0.6;
    z-index: -1;
    filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%)
  
}

.hidden {
    display: none;
}
#main-nav {
  justify-content: center;
  gap: 2rem;
  margin: 1rem auto;
  
    position: relative;
    width: 550px;
    background: rgba(255, 255, 255, 0.15);
    padding: 10px;
    backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 2rem;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 
                inset 0 4px 20px rgba(255, 255, 255, 0.3);
}
#main-nav::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    backdrop-filter: blur(1px);
    box-shadow: inset -10px -8px 0px -11px rgba(255, 255, 255, 1),
                inset 0px -9px 0px -8px rgba(255, 255, 255, 1);
    opacity: 0.6;
    z-index: -1;
    filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%)

}
#main-nav a{
    text-decoration: none;
    color: white;
}

main {
    border: 2px black solid;
    border-radius: 15px;
    width: 800px;
    margin: 0 auto;
    padding: 3rem;
    background-color: #fff;
}

#portfolio-img img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 3rem;
}

.info-header {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
    gap: 15rem;
    
}
.about-me {
    height: 350px; 
    font-size: 1.25rem;      
    overflow-y: auto;
    padding-right: 1rem;
}
footer {
    background-color: var(--primary-color);
    color: white;
    margin-top: 2rem;
    padding: 2rem;
}
footer a{
    text-decoration: none;
    color: white;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    
}
#footer-text {
    display: flex;
    flex-direction: column;
}
#footer-text p {
    padding: 1rem;
}
.footer-img{
    display: flex;
    gap: 1.5rem;
}
.footer-img img{
    width: 40px;
    height: 40px;;
}

/* projects page styles */
.project img,
.project h1,
.project p {
  transition: opacity 0.3s ease;
}

.project-img-container {
    width: 50rem;
    height: auto;
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem;
  gap: 3rem;
  color: black;
  background-color: #fff;
  border: 2px black solid;
  border-radius: 15px;
}
