

nav {
    width: 100%;
    padding: 1rem;
    margin-bottom: 5rem;
    font-size: 1.3rem;
    text-align: center;
}
.desktop-nav {
    display: flex;
}

#welcome-bar {
    transition: opacity 0.6s ease;
}
.hidden {
    display: none;
}
#main-nav {
  justify-content: center;
  gap: 2rem;
}

main {
    border: 2px black solid;
    border-radius: 15px;
    width: 800px;
    margin: 0 auto;
    padding: 3rem;
}

.info-header {
    display: flex;
    justify-content: center;
    gap: 15rem;
    
}
.about-me {
    height: 300px; 
    font-size: 1.25rem;      
    overflow-y: auto;
    padding-right: 1rem;
}
